<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="<%= assetPath('css/layout.css') %>">
        <link rel="stylesheet" href="<%= assetPath('css/footer.css') %>">
        <link rel="stylesheet" href="<%= assetPath('css/header.css') %>">
        <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Overpass:wght@700&display=swap" rel="stylesheet">
        <!-- this script is just for font awesome fonts -->
	    <script src="https://kit.fontawesome.com/c44dda2e6d.js" crossorigin="anonymous"></script>
        <%- style %>
    </head>

    <body>
        <!--HERE WE USE PARTIALS  -->
        <%- include('_header'); %>

        
        <main id="layout-main">
            <%- body %>
        </main>

        
        <%- include('_footer'); %>

        <%- script %>
        <!-- for flash messages -->
        <script>
            <% if(flash.success && flash.success.length > 0) { %>
                new Noty({
                theme: 'relax',
                text: "<%= flash.success %>",
                type: 'success',
                layout: 'topRight',
                timeout: 1500
                    }).show();
        <% } %>

        <% if(flash.error && flash.error.length > 0) { %>
                new Noty({
                theme: 'relax',
                text: "<%= flash.success %>",
                type: 'error',
                layout: 'topRight',
                timeout: 1500,
            }).show();

                
        <% } %>

        </script>

    </body>
</html>